doctype 5
html
	head
		link(rel='stylesheet', href='/css/bootstrap.css')
		link(rel='stylesheet', href='/css/font-awesome.min.css')
		script(src='/js/lodash.min.js')
		link(rel='stylesheet' href='/css/style.css')
	body
		div() Profile
		div() Usage Dashboard
		div() Publish Reports
		div() Run report
		div() New Report