doctype 5
html(ng-app="SuddenFeedbackApp")
    head
        link(rel='stylesheet', href='/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/bootstrap.css')
        link(rel='stylesheet', href='/css/ng-tags-input.min.css')
        link(rel='stylesheet', href='/css/style.css')
        script(src='/js/lodash.min.js')
        script(src='/js/angular.js')
        script(src='/js/angular-resource.js')
        script(src='/js/angular-sanitize.js')
        script(src='/js/socket.io.js')
        script(src='/js/angular-strap.min.js')
        script(src='/js/angular-strap.tpl.min.js')
        script(src='/js/ng-tags-input.min.js')
        script(src='/js/once.js')
        script(src='/js/engine.js',type='text/javascript')
    body(ng-controller='FUI' ng-init="init()")
        block content
        a(href='/auth/twitter') login to twitter. 
        span(bs-modal="wmodal" data-template="wordsModal.html") words 
        span(bs-modal="rmodal" data-template="reportModal.html") report 
        span(bs-modal="lmodal" data-template="loadModal.html") load 
        i(class="fa fa-pause" ng-click="pause()")
        div(class="content container-fluid")
            //////||  columns  ||\\\\\
            div(ng-repeat="(index,column) in report.columns | orderBy:report.colSort:true" once-if="column.width>0" id="{{index}}" class="isotope-container col-lg-{{column.width}}")
                div(class="panel panel-primary" bs-modal="cmodal" data-template="colModal.html" style="margin-bottom:0;") 
                        div(class="row panel-heading")
                            div(class="col-lg-8 text-left") {{column.label}}
                            div(class="col-lg-2 text-center") {{column.score}}
                            div(class="col-lg-2 text-right text-info") {{((column.priority/report.priority)*100).toFixed(0)}}%
                div(class="fuiColumn row" ng-class="{'majorheight':column.stats.length}")    
                    //////||  items  ||\\\\\
                    div(class='isotope-item well well-sm' ng-repeat="(i,t) in column.items | orderBy:column.sort:true | limitTo:column.limit track by t.text" ng-class="{'new':t.status<0,'updated':t.status>0}" bs-modal="imodal" data-template="itemModal.html")
                        div(class="media" once-if="t.entities.media")
                            img(ng-repeat="i in t.entities.media" once-src="i.media_url")
                        div(class='isotope-item-content' )
                            //todo: convert to a ingle ng-class
                            i(once-if="t.typ=='User'" class="fa fa-user")
                            i(once-if="t.typ=='Link'" class="fa fa-link")
                            i(once-if="t.typ=='Tag'" class="fa fa-tag")
                            i(once-if="t.typ=='Mention'" class="fa fa-hand-o-right")
                            i(once-if="t.typ=='Symbol'" class="fa fa-usd")
                            &nbsp;
                            span(once-text="t.text")
                        div(class='isotope-item-priority text-info'){{t.priority}}
                        div(class='isotope-item-urls')
                            a(ng-repeat="url in t.entities.urls" href="{{url.expanded_url}}")
                                i(class="fa fa-link text-warning")
                        i(ng-if="t.geo" class="fa fa-map-marker")
                //////||  stats  ||\\\\\
                div(class="fuiColumn row" ng-if="column.stats.length" once-class="{'minorheight':column.stats.length}")
                    div(class='isotope-item well well-sm' ng-repeat="(i,t) in column.stats | orderBy:'priority':true | limitTo:column.limit/4 track by t.text")
                        div(class='isotope-item-priority text-info text-right'){{t.priority}}
                        div(class='isotope-item-content')
                            //todo: convert to a ingle ng-class
                            i(once-if="t.typ=='User'" class="fa fa-user")
                            i(once-if="t.typ=='Link'" class="fa fa-link")
                            i(once-if="t.typ=='Tag'" class="fa fa-tag")
                            i(once-if="t.typ=='Mention'" class="fa fa-hand-o-right")
                            i(once-if="t.typ=='Symbol'" class="fa fa-usd")
                            &nbsp;
                            span(once-text="t.text")
