doctype 5
html(ng-app="SuddenFeedbackApp")
    head
        link(rel='stylesheet', href='/css/bootstrap.css')
        link(rel='stylesheet', href='/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/ng-tags-input.min.css')
        script(src='/js/lodash.min.js')
        script(src='/js/angular.min.js')
        script(src='/js/angular-animate.min.js')
        script(src='/js/angular-resource.js')
        script(src='/js/angular-sanitize.js')
        script(src='/js/socket.io.js')
        script(src='/js/angular-strap.min.js')
        script(src='/js/angular-strap.tpl.min.js')
        script(src='/js/ng-tags-input.min.js')
        script(src='/js/d3.min.js')
        script(src='/js/nv.d3.js')
        script(src='/js/angular-nvd3.min.js')
        script(src='/js/engine.js',type='text/javascript')
        link(rel='stylesheet' href='/css/style.css')
    body(ng-controller='FUI' ng-init="init()")
        block content
        div(class="body_wrap")
            div(class="content container-fluid")
                div.row
                    div.col-lg-12
                        a(href='/logout') Logout
                        a(href='home' target='_new') Manage
                        span(bs-modal="wmodal" data-template="wordsModal.html") words
                        span(bs-modal="rmodal" data-template="reportModal.html") report
                        span(bs-modal="nmodal" data-template="newModal.html") new
                        span(bs-modal="lmodal" data-template="loadModal.html") load
                        i(class="fa" ng-class="{'fa-pause':play, 'fa-play':!play}" ng-click="pause()")
                        i(ng-if="torfHiddenColumns" class="fa fa-arrow-right" ng-click="nextColumn()")
                //////||  Horizontal Bar  ||\\\\\
                div(class="row" style="width:100%;height:5px;overflow:hidden;")
                    div(class="HbarSegment" ng-repeat="(index,column) in report.columns | orderBy:report.colSort:true" ng-style="{width:((column.priority/report.priority)*100).toFixed(0)+'%', background:column.color,'box-shadow':'0 2 20px '+column.color}")&nbsp;
                //////||  columns  ||\\\\\
                div(ng-if="column.visible" ng-repeat="(index,column) in report.columns | orderBy:report.colSort:true" id="{{index}}" class="isotope-container col-lg-{{column.width}}")
                    div(class="panel panel-primary" bs-modal="cmodal" data-template="colModal.html" style="margin-bottom:0;")
                            div(ng-if="column.label!='none'" class="row panel-heading")
                                div(class="col-lg-8 text-left") {{column.label}}
                                div(class="col-lg-2 text-center") {{column.score}}
                                div(class="col-lg-2 text-right text-info" ng-style="{color:column.color}") {{((column.priority/report.priority)*100).toFixed(0)}}%
                    div(class="fuiColumn row" ng-style="{height:column.itemsheight+'%'}" ng-class="{'Slides':column.show=='Slides'}")
                        //////||  items  ||\\\\\
                        div(class='widget-container isotope-item boxed-velvet' ng-animate=" 'animate' " ng-repeat="(i,t) in column.items | orderBy:column.sort:true | limitTo:column.limit track by t.text" ng-class="{'new':t.status<0,'updated':t.status>0}" bs-modal="imodal" data-template="itemModal.html")
                            div(ng-if="::t.title!=undefined" class="col-lg-12 item-title"){{t.title}}
                            div.row
                                div(ng-class="::{'col-lg-9':t.entities.media[0] && column.show!='Slides'}")
                                    span(ng-bind-html="::t.text")
                                //////||  Images  ||\\\\\
                                div(ng-if="::column.show!='Slides' && t.entities.media" class="col-lg-3")
                                    img(ng-repeat="i in t.entities.media" ng-src="{{::i.media_url}}")
                                div(ng-if="column.show=='Slides' && t.entities.media" class="col-lg-12 text-center")
                                   img(ng-repeat="i in t.entities.media" ng-src="{{::i.media_url}}") 
                            div.row
                                div(class="col-lg-4 text-left")
                                    a(ng-repeat="url in t.entities.urls" href="{{::url.expanded_url}}")
                                        i(class="fa fa-link text-warning")
                                div(class="col-lg-4 text-center")
                                    i(ng-if="::t.geo" class="fa fa-map-marker")
                                div(class="col-lg-4 text-info text-right"){{t.priority}}
                    //////||  Components  ||\\\\\
                    div(class="fuiColumn fuiColumnComponent row" ng-if="column.components.length" ng-repeat="comp in column.components" ng-style="{height:comp.height+'%'}")
                        div(class='isotope-item well well-sm' ng-repeat="(i,t) in comp.items | orderBy:'priority':true | limitTo:20 track by t.text")
                            div(class='col-lg-1 text-left')
                                i(ng-click="t.save=!t.save" ng-if="::t.typ!='item'" title="Click to save values to compare in future runs" class="fa" ng-class="::{'tracked':t.save, 'fa-user':t.typ=='User', 'fa-link':t.typ=='Link', 'fa-tag':t.typ=='Tag', 'fa-hand-o-right':t.typ=='Mention', 'fa-usd':t.typ=='Symbol', 'fa-filter':t.typ=='Filter', 'fa-eye-open':t.typ=='Tracked', 'fa-star':t.typ=='Total'}")
                            div(class='col-lg-9 text-center') {{t.text}}
                            div(class='col-lg-2 text-info text-right'){{t.priority}}
                            div(class='isotope-item-content')