doctype 5
html
	head
		link(rel='stylesheet', href='/css/bootstrap.css')
		link(rel='stylesheet', href='/css/font-awesome.min.css')
		script(src='/js/lodash.min.js')
		link(rel='stylesheet' href='/css/style.css')
	body
		div() Welcome
		div() Register
		div()
			a(href='/auth/twitter') Login