body{
  /* background: url(../img/bggrid.png) repeat top, url(../img/bgdots.png) repeat top, #272b30; */
  background: url(../img/px.png);
}

html,body, div.content {
  padding: 0; margin:0; height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
div.modal-menu-row{ margin-bottom:4px;}
div.modal-menu-row div:first-child{ border-bottom: 2px solid #111; }
input, div.tags, select{background: #222; color:#c8c8c8; border:1px solid #111;}
.panel-heading{ background-image:linear-gradient(#484e55, #3a3f44 60%, #313539); }
div.HbarSegment{display:inline-block;overflow:hidden;}
div.isotope-container{ height:100%; }
div.media{ text-align:center; float:left; display:inline; max-width:24%;}
div.isotope-item-content{ float:left; display:inline; max-width:74%; padding:auto;}
div.isotope-item img{  max-width:95%; max-height:128px; }
div.fuiColumn.Slides.isotope-item img{max-height:95%;}
div.isotope-item{ 
	float: left;
  color:#777;
	border: 1px solid #111;
	font: 12px;
	width: 99%;
  margin:2px;
	border-radius: 2px;
  overflow:hidden;
  background: linear-gradient(to bottom, rgba(19, 21, 24, 0.8),  rgba(39, 43, 48, 0.3));
  box-shadow:0 0 20px rgba(0, 0, 0, 0.7);
}
div.isotope-item.new{ border:1px solid #f89406; box-shadow:inset 0 0 20px rgba(248, 148, 6, 0.5); z-index:3;}
div.isotope-item.updated{ border:1px solid #62c462; box-shadow:inset 0 0 20px rgba(98, 196, 98, 0.46); z-index:2;}
div.isotope-item-priority, div.isotope-container div.isotope-item-urls{
	float:right;
	padding:0 3px 0 3px;
	border-radius: 3px;
}
div.isotope-item-priority{margin-left:3px; bottom:3px;}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; } /* for angular ui */

.ui-match { background: yellow; }

.isotope-item.ng-enter {
	-webkit-transition: 10s linear all; /* Chrome */
	transition: 10s linear all;
	opacity: 0;
}
 
.isotope-item.ng-enter, .isotope-item.ng-enter-active {
	opacity: 1;
}
.itemMenu{z-index:99;}
.isotope-item{z-index:1;}
.row{margin-left: -2px; margin-right: -2px;}
.fuiColumn{height:100%; overflow:scroll;}
.fuiColumn.component{height:75%; overflow:scroll; margin-bottom:5px;}
.fuiColumnComponent{overflow:scroll; border-top: 3px double #5bc0de;}
div.fuiColumn.Slides{ font-size: 40px; }
/* animation stuff */
.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}


.isotope-item.ng-enter, .isotope-item.ng-move {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
  opacity:0;
}
.isotope-item.ng-enter.ng-enter-active,
.isotope-item.ng-move.ng-move-active {
  opacity:1;
}
@keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}
@-webkit-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-moz-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-o-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}