<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog widget">
    <div class="modal-content inner">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
      </div>
      <div class="modal-body" >
          <div style="height:300px;width:100%;overflow:scroll;">
              <div ng-repeat="termSet in report.terms">
                <input ng-model="termSet.name"></input>
                <tags-input  ng-model="termSet.terms"></tags-input>
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <span class="btn btn-black"><button type="button" class="gradient" ng-click="addSet()">Add Set</button></span>
        <span class="btn btn-black"><button type="button" class="gradient" ng-click="saveSet()">Save</button></span>
        <span class="btn btn-red"><button type="button" class="gradient" ng-click="$hide()">Close</button></span>
      </div>
    </div>
  </div>
</div>