<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
      </div>
      <div class="modal-body" >
        <h2>Column Settings</h2>
        		<div class="row modal-menu-row">
              <div class="col-lg-2">ID: </div>
              <div class="col-lg-6"><input ng-model="column.id" /></div>
            </div>
            <div class="row modal-menu-row">
              <div class="col-lg-2">Color: </div>
              <div class="col-lg-6"><input ng-model="column.color" /></div>
            </div>
            <div class="row modal-menu-row">
              <div class="col-lg-2">Priority: </div>
              <div class="col-lg-6">{{column.priority}}</div>
            </div>
            <div class="row modal-menu-row">
              <div class="col-lg-2">label: </div>
              <div class="col-lg-6"><input class="inputtext input_middle required gradient" ng-model="column.label" /></div>
            </div>
            <div class="row modal-menu-row">
              <div class="col-lg-2">Show: </div>
              <div class="col-lg-6"><select ng-model="column.show" ng-options="arr.v as arr.v for arr in shows"></select></div>
            </div>
             <div class="row modal-menu-row">
              <div class="col-lg-2">Sort: </div>
              <div class="col-lg-6"><select ng-model="column.sort" ng-options="arr.v as arr.k for arr in sorts"></select></div>
            </div>
            <div class="row modal-menu-row">
              <div class="col-lg-2">Analysis: </div>
              <div class="col-lg-6"><select ng-model="column.analysis" ng-options="arr.v as arr.v for arr in analysis"></select></div>
            </div>
            <div class="row modal-menu-row">
              <div class="col-lg-2">Limit: </div>
              <div class="col-lg-6"><select ng-model="column.limit" ng-options="arr.v as arr.v for arr in limits"></select></div>
            </div>
            <div class="row modal-menu-row">
              <div class="col-lg-2">Width: </div>
              <div class="col-lg-6"><select ng-model="column.width" ng-options="arr.v as arr.k for arr in widths"></select></div>
            </div>
        <h2>Column Components</h2>
          <div ng-repeat="(i,comp) in column.components">
            <div class="row modal-menu-row">
              <div class="col-lg-2">Type: </div>
              <div class="col-lg-6"><select ng-model="comp.typ" ng-options="arr.v as arr.v for arr in comps"></select></div>
            </div>
            <div class="row modal-menu-row">
              <div class="col-lg-2">Height: </div>
              <div class="col-lg-6"><select ng-model="comp.height" ng-options="arr.v as arr.k for arr in heights"></select></div>
            </div>
            <div class="row modal-menu-row">
              <div class="col-lg-2"><span class="btn btn-red"><button type="button" class="gradient" ng-click="delComp(column.id,i)">Remove Component</button></span></div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <span class="btn btn-black"><button type="button" class="gradient" ng-click="addComp(column.id)">Add Component</button></span>
        <span class="btn btn-black"><button type="button" class="gradient" ng-click="delCol(column.id)">Remove</button></span>
        <span class="btn btn-red"><button type="button" class="gradient" ng-click="$hide()">Close</button></span>
      </div>
    </div>
  </div>
</div>