<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
      </div>
      <div class="modal-body" >
        <h3>Column Settings</h3>
        		<div class="row modal-menu-row">
              <div class="col-lg-2">ID: </div>
              <div class="col-lg-6"><input ng-model="column.id" /></div>
            </div>
            <div class="row modal-menu-row">
              <div class="col-lg-2">Color: </div>
              <div class="col-lg-6"><input ng-model="column.color" /></div>
            </div>
            <div class="row modal-menu-row">
              <div class="col-lg-2">Priority: </div>
              <div class="col-lg-6">{{column.priority}}</div>
            </div>
            <div class="row modal-menu-row">
              <div class="col-lg-2">label: </div>
              <div class="col-lg-6"><input ng-model="column.label" /></div>
            </div>
            <div class="row modal-menu-row">
              <div class="col-lg-2">Show: </div>
              <div class="col-lg-6"><input ng-model="column.show" /></div>
            </div>
            <div class="row modal-menu-row">
              <div class="col-lg-2">Analysis: </div>
              <div class="col-lg-6"><input ng-model="column.analysis" /></div>
            </div>
            <div class="row modal-menu-row">
              <div class="col-lg-2">Limit: </div>
              <div class="col-lg-6"><input ng-model="column.limit" /></div>
            </div>
            <div class="row modal-menu-row">
              <div class="col-lg-2">Width: </div>
              <div class="col-lg-6"><input ng-model="column.width" /></div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="delCol(column.id)">Remove</button>
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>