<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
      </div>
      <div class="modal-body" >
      		<input style="width:100%;" ng-model="t.notes" ng-enter="updateNote(t)" />
          <h3>{{t.text}}</h3>
          <img ng-if="t.entities.media" ng-repeat="i in t.entities.media" ng-src="{{i.media_url}}"/>
          <div style="height:300px;width:100%;overflow:scroll;">
            <ul>
        			<li ng-repeat="(k,v) in t">{{k}} : {{v}}</li>
        		</ul>
          </div>
      </div>
      <div class="modal-footer">
        <span class="btn btn-red"><button type="button" class="gradient" ng-click="delItem(t.id,t.column)">Remove</button></span>
        <span class="btn btn-red"><button type="button" class="gradient" ng-click="$hide()">Close</button></span>
      </div>
    </div>
  </div>
</div>