<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog widget">
    <div class="modal-content inner">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
      </div>
      <div class="modal-body" >
        <h2>Load a Report</h2>
        <hr></hr>
          <div style="height:300px;width:100%;" ng-init="listReports()">
              <div class="row" ng-repeat="report in reportList">
                <div class="col-lg-10" ng-click="loadReport(report._id);$hide()">{{report._id}}</div>
                <div class="col-lg-2 text-right" ng-click="delReport(report._id)"><i class="fa fa-times"></i></div>
                <hr></hr>
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <span class="btn btn-red"><button type="button" class="gradient" ng-click="$hide()">Close</button></span>
      </div>
    </div>
  </div>
</div>