<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog widget">
    <div class="modal-content inner">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
      </div>
      <div class="modal-body" ng-init="addReport()">
        <h2>Create a New Report</h2>
        <hr></hr>
          <div style="width:100%;">
            <div class="row modal-menu-row">
              <div class="col-lg-2">Name:</div>
              <div class="col-lg-6"><input ng-model="report.name" /></div>
            </div>
            <div style="height:300px;width:100%;">
                <input ng-model="report.terms[0].name"></input>
                Term Set Type= {{::report.terms[0].fn}}
                <tags-input ng-model="report.terms[0].terms" on-tag-added="newReport()" on-tag-removed="newReport()"></tags-input>
                <hr/>
            </div>
          </div>
          Adjust to the data: <select ng-model="report.follow" ng-options="arr.v as arr.k for arr in dataOpts"></select></li>
      </div>
      <div class="modal-footer">
        <span class="btn btn-red"><button type="button" class="gradient" ng-click="saveReport()">Save</button></span>
        <span class="btn btn-red"><button type="button" class="gradient" ng-click="$hide()">Close</button></span>
      </div>
    </div>
  </div>
</div>