<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog widget">
    <div class="modal-content inner">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
      </div>
      <div class="modal-body" ng-init="addReport()">
          <div style="width:100%;">
            <ul>
            <li>Template<select ng-model="report.template" ng-options="template.v as template.desc for template in templates"></select></li>
        		<li>Theme</li>
        		<li>Column Order{{report.colSort}} <select ng-model="report.colSort" ng-options="arr.v as arr.k for arr in colSorts"></select></li>
        		<li>Name <input ng-model="report.name" /></li>
        		<li>Description <input ng-model="report.Description" /></li></li>
        		<li>Started</li>
        		<li>Updated</li>
            <li>Item Count</li>
            <li>Include by terms</li>
            <li>Filter out terms</li>
            <li>Count &amp; Highlight terms</li>
        	</ul>
          </div>
      </div>
      <div class="modal-footer">
        <span class="btn btn-red"><button type="button" class="gradient" ng-click="saveReport()">Save</button></span>
        <span class="btn btn-red"><button type="button" class="gradient" ng-click="$hide()">Close</button></span>
      </div>
    </div>
  </div>
</div>