<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
      </div>
      <div class="modal-body" >
          <div style="width:100%;overflow:scroll;">
            <input style="width:100%;" />
            <ul>
        		<li>Theme</li>
        		<li>Column Order</li>
        		<li>Name</li>
        		<li>Description</li>
        		<li>Started</li>
        		<li>Updated</li>
            <li>Include by terms</li>
            <li>Filter out terms</li>
            <li>Count &amp; Highlight terms</li>
        	</ul>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="clear()">Reset Data</button>
        <button type="button" class="btn btn-default" ng-click="addCol()">Add Column</button>
        <button type="button" class="btn btn-default" ng-click="saveReport()">Save</button>
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>