<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog widget">
    <div class="modal-content inner">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
      </div>
      <div class="modal-body" >
        <h2>Report Settings</h2>
        <hr></hr>
            <div class="row modal-menu-row">
              <div class="col-lg-2">Name:</div>
              <div class="col-lg-6"><input ng-model="report.name" /></div>
            </div>
            <div class="row modal-menu-row">
              <div class="col-lg-2">Description:</div>
              <div class="col-lg-6"><input ng-model="report.description" /></div>
            </div>
            <div class="row modal-menu-row">
              <div class="col-lg-2">Started:</div>
              <div class="col-lg-6">{{::report.started}}</div>
            </div>
            <div class="row modal-menu-row">
              <div class="col-lg-2">Updated:</div>
              <div class="col-lg-6">{{::report.uodated}}</div>
            </div>
            <div class="row modal-menu-row">
              <div class="col-lg-2">Item Count:</div>
              <div class="col-lg-6">{{::report.item_count}}</div>
            </div>
            <div class="row modal-menu-row">
              <div class="col-lg-2">Column Order: </div>
              <div class="col-lg-6"><select ng-model="report.colSort" ng-options="arr.v as arr.k for arr in colSorts"></select></div>
            </div>
            <div class="row modal-menu-row">
              <div class="col-lg-2">Auto Save Frequency: </div>
              <div class="col-lg-6"><select ng-model="report.autoSave" ng-options="arr.v as arr.k for arr in autoSaves"></select></div>
            </div>
            
          <h2>Columns</h2>
          <div class="row" ng-repeat="(index,column) in report.columns">
                <div class="col-lg-10">{{column.label}}</div>
                <div class="col-lg-2 text-right" ng-click="delCol(column.id)"><i class="fa fa-times"></i></div>
          </div>
      </div>
      <div class="modal-footer">
        <span class="btn btn-black"><button type="button" class="gradient" ng-click="clear()">Reset Data</button></span>
        <span class="btn btn-black"><button type="button" class="gradient" ng-click="addCol()">Add Column</button></span>
        <span class="btn btn-black"><button type="button" class="gradient" ng-click="saveReport()">Save</button></span>
        <span class="btn btn-black"><button type="button" class="gradient" ng-click="addReport()">New Report</button></span>
        <span class="btn btn-red"><button type="button" class="gradient" ng-click="$hide()">Close</button></span>
      </div>
    </div>
  </div>
</div>